*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(11, 145, 185);
    margin-bottom: 10px;
    background-color: white;
    }
    h1{
       background-image: linear-gradient(54deg,rgb(202, 190, 190) 0%, rgb(159, 160, 154) 35%, rgb(216, 200, 61) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
}

.logo {
    width: 5rem;
    height: 5rem;
}

.barra-nav{
    display: grid;
}
.background{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;;
  width: auto;
  height: auto;
  z-index: -1000;
}
.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foto{
    width: 200px;
    height: 201px;
    border-radius: 90%;
}
.projetos{
    background: rgba(6, 1, 46, 0.507);
    height: 50vh;
    width: 50%;
    border-radius: 10%;
    box-shadow: 0 5px 20px rgb(0, 0, 0);
}
.tecnologias{
    display: grid;
    justify-items: center;
    align-items: center;
    color:white;
    

}
.tecnologias span {
    margin: 10px;
    color: white;
 
}
.tecnologias img{
    width: 25px;
    height: 25px;
    display: grid;
    
}